.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  width: calc((100% - 3 * 30px) / 4);
}

.benefits__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.benefits__item:nth-child(1)::before {
  background-image: url(../images/main/index/icon-satellite-dish.svg);
}

.benefits__item:nth-child(2)::before {
  background-image: url(../images/main/index/icon-clock.svg);
}

.benefits__item:nth-child(3)::before {
  background-image: url(../images/main/index/icon-laptop.svg);
}

.benefits__item:nth-child(4)::before {
  background-image: url(../images/main/index/icon-astronaut.svg);
}

.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-white-theme-color;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $text-white-theme-color;
}