// --main-font: "Roboto", sans-serif;
// --secondary-font: "Raleway", sans-serif;
// --title-white-theme-color: #212121;
// --title-dark-theme-color: #ffffff;
// --text-white-theme-color: #757575;
// --text-dark-theme-color: #ffffff;
// --accent-color: #2196F3;

$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
$titleWhiteThemeColor: #212121;
$titleDarkThemeColor: #ffffff;
$textWhiteThemeColor: #757575;
$textDarkThemeColor: #ffffff;
$accentColor: #2196F3;