$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
$titleWhiteThemeColor: #212121;
$titleDarkThemeColor: #ffffff;
$textWhiteThemeColor: #757575;
$textDarkThemeColor: #ffffff;
$accentColor: #2196F3;